.nosotrosContainer{
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nosotrosContainer h2{
    margin: 1rem 0;
    color: white;
    font-size: 1.8rem;
    text-shadow: 0 3px 3px black;
    font-family: var(--tituloFuente);
}

.infoContainer{
    width: 80vw;
    max-width: 1200px;
    background-color: rgba(0, 70, 105, 0.819);
    color: white;
    text-align: justify;
    border: 3px solid rgb(62, 62, 62);
    margin: 1rem 0;
}
.infoContainer img{
    width: 100%;
}
.textInfo{
    padding: 0.7rem;
}
.titulos{
    background-color: rgba(0, 70, 105, 0.819);
    text-align: center;
    border-top:2px solid rgba(255, 255, 255, .2);
    padding: 1rem;
    margin: 0.7rem auto;
    border-top-left-radius: 70px;
    position: relative;
    width: 70vw;
}
.titulos::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.759);
    width: 90%;
    height: 70%;
    position: absolute;
    left: 35px;
    border-top-left-radius: 70px;
    bottom: 0;
    z-index: -1;
    border-top: 2px solid black;
}
.ubicacionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.ubicacionContainer h2{
    margin: 1rem 0;
    color: white;
    font-size: 1.8rem;
    text-shadow: 0 3px 3px black;
    font-family: var(--tituloFuente);
}
.ubicacionContainer iframe{
    width: 70vw;
}
.imgContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "uno"
                        "dos"
                        "tres";
    gap: 0.5rem;
}
.uno{
    grid-area: uno;
    overflow: hidden;
}
.dos{
    grid-area: dos;
    overflow: hidden;
}

.tres{
    grid-area: tres;
    overflow: hidden;
    
}
.tres img, .dos img, .uno img{
    width: 100%;
    object-fit: cover;
    object-position: top;
}
@media(min-width:800px){
    .imgContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 350px;
        grid-template-areas: "uno uno"
                            "dos tres";
        gap: 0.5rem;
    }
    .tres img, .dos img, .uno img{
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    .infoContainer{
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textInfo{
        width: 80%;
    }
    .textInfo{
        padding: 1.7rem;
        line-height: 1.7rem;
    }
}