.footerContainer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    background-color: var(--rojo);
    padding: 0.5rem;
}
.footerContainer p{
    margin: 0.5rem 0;
}
.iconsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}
.iconsContainer img{
    width: 35px;
    height: 35px;
    filter: drop-shadow(0 3px 5px white);
    cursor: pointer;
}