@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
:root {
  --violeta: #511f73;
  --verde: #26a699;
  --amarillo: #f2be22;
  --naranja: #f29727;
  --rojo: #f24c3d;
  --tituloFuente:'Barriecito', cursive;
  --textFuente:'Borel', cursive;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--textFuente);
  background: linear-gradient(190deg, var(--naranja) 0%, var(--verde) 50%);
  background-repeat: no-repeat;
  min-height: 100vh;
}